In [2]:
import mysql.connector
import pandas as pd

In [ ]:

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="fggh",     # Replace this
    database="ecommerce_sales"      # Replace this
)

In [5]:
# Load the whole table
query = "SELECT * FROM sales_data"
df = pd.read_sql(query, conn)
conn.close()

C:\Users\HP\AppData\Local\Temp\ipykernel_14940\2550399902.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [6]:
# Quick look
print(df.head())

  InvoiceNo StockCode       Description  Quantity         InvoiceDate  \
0  INV10000      P002       USB-C Cable         1 2023-07-20 06:29:00
1  INV10001      P009      Phone Holder         2 2023-11-04 05:37:00
2  INV10002      P004  Portable Charger         9 2023-01-20 07:44:00
3  INV10003      P004  Portable Charger         8 2023-07-22 13:44:00
4  INV10004      P007    Smart LED Bulb         6 2023-07-22 08:09:00

   UnitPrice  CustomerID    Country
0      28.26        3286    Germany
1       8.02        2535      Spain
2      58.32        9928  Australia
3      81.90        1106     France
4      19.77        6514    Germany

In [7]:
# total revenue

df['Revenue'] = df['Quantity'] * df['UnitPrice']
print("Total Revenue:", df['Revenue'].sum())

Total Revenue: 2897879.16

In [ ]:
# top 10 products by revenue

top_products = df.groupby('Description')['Revenue'].sum().sort_values(ascending=False).head(10)
print(top_products)

Description
Wireless Mouse       308538.07
Laptop Stand         301376.44
USB-C Cable          295983.09
Gaming Headset       293760.35
Smart LED Bulb       290924.08
Notebook Cooler      290062.84
Portable Charger     285687.68
Phone Holder         281753.30
Bluetooth Speaker    276569.82
Webcam HD            273223.49
Name: Revenue, dtype: float64

In [ ]:
# Monthly revenue trend (as tables)

df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Month'] = df['InvoiceDate'].dt.to_period('M')

monthly_revenue = df.groupby('Month')['Revenue'].sum().reset_index()
print(monthly_revenue)

      Month    Revenue
0   2023-01  267738.79
1   2023-02  222825.64
2   2023-03  237968.59
3   2023-04  229699.11
4   2023-05  247265.62
5   2023-06  234331.60
6   2023-07  241337.18
7   2023-08  233628.47
8   2023-09  240720.93
9   2023-10  238550.89
10  2023-11  251302.62
11  2023-12  252509.72

In [ ]:
# country wise revenue

country_revenue = df.groupby('Country')['Revenue'].sum().sort_values(ascending=False)
print(country_revenue)

Country
Norway            343453.95
Australia         332868.31
Spain             327136.23
Italy             322997.98
Germany           322266.28
France            322212.31
United Kingdom    314630.70
Netherlands       308791.08
Sweden            303522.32
Name: Revenue, dtype: float64

In [11]:
# top customers by spend

top_customers = df.groupby('CustomerID')['Revenue'].sum().sort_values(ascending=False).head(10)
print(top_customers)

CustomerID
7493    2414.00
5006    2326.70
6050    2294.78
3078    2255.21
2059    2204.82
9173    2202.99
7176    2168.62
7750    2168.56
2070    2148.99
8645    2115.04
Name: Revenue, dtype: float64

In [ ]:
# loading csv into powerbi
# export full transaction data
df.to_csv("ecommerce_output.csv", index=False)

In [13]:
# export monthly revenue summary
monthly_revenue.to_csv("monthly_revenue.csv", index=False)

In [14]:
# export top products by revenue
top_products_df = top_products.reset_index().rename(columns={'Revenue': 'TotalRevenue'})
top_products_df.to_csv("top_products.csv", index=False)

In [15]:
# export country wise revenue

country_revenue_df = country_revenue.reset_index().rename(columns={'Revenue': 'CountryRevenue'})
country_revenue_df.to_csv("country_revenue.csv", index=False)

In [16]:
# exort top customers

top_customers_df = top_customers.reset_index().rename(columns={'Revenue': 'CustomerSpend'})
top_customers_df.to_csv("top_customers.csv", index=False)